@{
    ViewData["Title"] = "Aula quarta";
}
<html>

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AV1</title>
    <link rel="stylesheet" type="text/css" href="Views\Shared\_Layout.cshtml.css" media="screen" />
    </head>

        <body>
        <h1> Gerador de Certificado </h1>
        <strong> #Parabens! </strong>

        <label for="inputNome"> Nome: </label>
        <input id="inputNome" placeholder="Jhonatan dos Santos">

        <button id="botaoGerar" onclick="gerar()"> 
        Gerar certificado 
        </button>
        </body>

</html>